<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="welcome-container">
        <h1>Bienvenue sur ERPNext</h1>
        <p>Vous êtes maintenant connecté à votre compte ERPNext.</p>

        <h2>Liste des Fournisseurs</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fournisseur : ${fournisseurs}">
                    <td th:text="${fournisseur.name}">Nom</td>
                    <td>
                        <a th:href="@{'/fournisseurs/' + ${fournisseur.name} + '/devis'}">voir devis</a> |
                        <a th:href="@{'/fournisseur/commandes?nom=' + ${fournisseur.name}}">voir commandes</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
